header.header
    .header__inner
        .header__logo
            include ../../assets/images/logo.svg
        ul.header__nav
            li.header__nav-item
                .header__nav-icon
                    include ../../assets/images/menu-icon.svg
                a(href="#") Курсы
                    .header__nav-arrow
                        img(src="assets/images/arrow.svg")
                ul.header__nav-submenu.submenu
                    li.submenu__item 
                        a(href="#") Базовый курс по верстке
                    li.submenu__item
                        a(href="#") Продвинутый курс по верстке
                    li.submenu__item
                        a(href="#") Курс JavaScript Мастер
                    li.submenu__item
                        a(href="#") Интенсив Wordpress Мастер
                    li.submenu__item 
                        a(href="#") Мини-курс Супер Старт
            li.header__nav-item
                a(href="#") Марафоны
                    .header__nav-arrow
                        img(src="assets/images/arrow.svg")
                ul.header__nav-submenu.submenu
                    li.submenu__item 
                        a(href="#") Базовый курс по верстке
                    li.submenu__item
                        a(href="#") Продвинутый курс по верстке
                    li.submenu__item
                        a(href="#") Курс JavaScript Мастер
                    li.submenu__item
                        a(href="#") Интенсив Wordpress Мастер
                    li.submenu__item 
                        a(href="#") Мини-курс Супер Старт
            li.header__nav-item
                a(href="#") Полезности
        .header__sign
            a(href="#").header__sign-item Регистрация
            a(href="#").header__sign-item Вход
                span.header__sign-icon
                    include ../../assets/images/sign.svg