section.main
    .circle-light
    .container
        include ../header/header.pug
        .main__inner
            .main-wrapper
                .main-wrapper-text
                    h1.main__title Онлайн обучение
                    span.main__text frontend-разработке не выходя из дома
            .main-skills
                .main-skills-wrapper
                    span.main-skills__text.main-skills__text--python print("Loading...")
                    span.main-skills__text.main-skills__text--typescript console.log("Loading...")
                    span.main-skills__text.main-skills__text--ruby puts "Loading..."
                    span.main-skills__text.main-skills__text--csharp System.Console.WriteLine("Loading...")
                    span.main-skills__text.main-skills__text--cplusplus std::cout << "Loading..." << std::endl;
                    span.main-skills__text.main-skills__text--java System.out.println("Loading...");
                    span.main-skills__text.main-skills__text--swift println("Loading...")
                    span.main-skills__text.main-skills__text--php echo "Loading..."
            .main__slider.slider.swiper-container
                .slider__wrapper.swiper-wrapper
                    .slider__item.swiper-slide
                        .slider__item-title
                            span Курс Супер Старт всего за 1 рубль!
                        .slider__item-text
                            span Это не шутка. Мы действительно открываем доступ на этот 5-тидневный курс практически за бесплатно. Ловите возможность!
                        .slider__item-bottom
                            .slider__item-counter
                                span 01
                            .slider__item-link
                                include ../../assets/images/link.svg
                    .slider__item.swiper-slide
                        .slider__item-title
                            span Марафоны 250 рублей (вместо 490)
                        .slider__item-text
                            span Это не шутка. Мы действительно открываем доступ на этот 5-тидневный курс практически за бесплатно. Ловите возможность!
                        .slider__item-bottom
                            .slider__item-counter
                                span 02
                            .slider__item-link
                                include ../../assets/images/link.svg
                    .slider__item.swiper-slide
                        .slider__item-title
                            span Курс Супер Старт всего за 1 рубль!
                        .slider__item-text
                            span Это не шутка. Мы действительно открываем доступ на этот 5-тидневный курс практически за бесплатно. Ловите возможность!
                        .slider__item-bottom
                            .slider__item-counter
                                span 03
                            .slider__item-link
                                include ../../assets/images/link.svg
                    .slider__item.swiper-slide
                        .slider__item-title
                            span Курс Супер Старт всего за 1 рубль!
                        .slider__item-text
                            span Это не шутка. Мы действительно открываем доступ на этот 5-тидневный курс практически за бесплатно. Ловите возможность!
                        .slider__item-bottom
                            .slider__item-counter
                                span 04
                            .slider__item-link
                                include ../../assets/images/link.svg
                    .slider__item.swiper-slide
                        .slider__item-title
                            span Курс Супер Старт всего за 1 рубль!
                        .slider__item-text
                            span Это не шутка. Мы действительно открываем доступ на этот 5-тидневный курс практически за бесплатно. Ловите возможность!
                        .slider__item-bottom
                            .slider__item-counter
                                span 05
                            .slider__item-link
                                include ../../assets/images/link.svg
        .slider-pagination
            .slider-button.slider-button--prev
                img(src="assets/images/arrow.svg") 
            .slider-button.slider-button--next
                img(src="assets/images/arrow.svg")
        
